<!-- app/views/user_mailer/password_setup_email.html.erb -->
<h1>Welcome to <%= Rails.application.class.module_parent_name %>!</h1>

<p>You've been invited to join the team. Please click the link below to set up your password:</p>

<p><%= link_to 'Set Up My Password', @setup_url %></p>

<p>This link will expire in 24 hours.</p>
