<div class="container">
  <p>Hi <%= @appointment.name %></p>
  <p>Your photoshoot booking with 363 Photography has been cancelled</p>
  <p>If you would like to schedule another please <a href="#">click here</a></p>
  <p>Thanks</p>
</div>
