<p><strong>Studio Guidelines</strong></p>

<p>Dear <%= @appointment.name %></p>
<p>To ensure a seamless and professional experience, please adhere to the following policies:</p>

<ul>
  <li><strong>Booking Confirmation:</strong> Payment is required to confirm your booking.</li><br>
  <li><strong>Cooperation:</strong> Clients are expected to cooperate with staff and photographers to maximize their session time.</li><br>
  <li><strong>Respectful Conduct:</strong> Use of abusive or disrespectful language towards staff or photographers is strictly prohibited.</li><br>
  <li><strong>Makeup Timing:</strong> Clients having their makeup done in the studio should arrive at least one hour before their booking time.</li><br>
  <li><strong>Equipment Responsibility:</strong> Clients are liable for any damage to studio equipment or property caused during their session.</li><br>
  <li><strong>Rescheduling:</strong> Clients unable to meet their scheduled time must notify the studio at least 24 hours in advance or forfeit the appointment.</li><br>
  <li><strong>Punctuality:</strong> Failure to arrive on time may result in delays, as bookings are strictly adhered to.</li><br>
  <li><strong>Liability:</strong> The studio is not responsible for injuries or loss of personal belongings.</li><br>
  <li><strong>Picture Retention:</strong> The studio guarantees picture retention for a maximum of three months.</li><br>
  <li><strong>Photo Products:</strong> If you fail to provide the required pictures or information for a paid photo product (e.g., photobook, frame, etc.) and prices increase, you will be responsible for the price difference.</li>
</ul>

<p>Thank you for your understanding and cooperation.</p>
