<div style="font-family: Arial, sans-serif; padding: 10px;">
  <p style="margin-bottom: 20px;">Hi <%= @photoshoot.appointment.name %>,</p>
  <p>We hope you're enjoying your recent photos from 363 Photography.</p>
  <p style="margin-bottom: 20px;">Your feedback is important to us. Could you spare a moment to share your thoughts?</p>

  <p>Visit <a href="https://form.jotform.com/233457061060347">here</a> to give us a feedback.</p>

  <p style="margin-bottom: 20px;">We look forward to serving you again. </p>
  <p>363 Photography Team</p>
</div>
