<li class="g-pagination__item">
  <% if page.current? %>
    <span class="g-pagination__link g-pagination__link--active">
      <%= page %>
    </span>
  <% else %>
    <%= link_to page, url, remote: remote, rel: page.rel, class: 'g-pagination__link' %>
  <% end %>
</li>
