<li class="g-pagination__item">
  <%= link_to_unless current_page.first?,
                     raw('<span class="g-pagination__icon">‹</span>'),
                     url,
                     rel: 'prev',
                     remote: remote,
                     class: 'g-pagination__link g-pagination__link--control' %>
</li>
