<div class="container">
  <%= render "shared/sidebar" %>
  <section class="content">
    <h1>All Photoshoots</h1>
    <div class="card">
      <%= render "shared/navigation" %>
      <%= render "table", photoshoots: @photoshoots %>
    </div>
  </section>
</div>
