<div class="container" data-controller="calendly" >
  <section>
    <h1>Today's Appointments</h1>
    <div class="card">
      <%= render "shared/navigation" %>
      <%= render "notes_table", photoshoots: @photoshoots %>
    </div>
  </section>

</div>
