.form-input-app, .form-input-app_label{
  width: 40%;
  border-radius: 6px;
}

.form-input-app_label{
  padding: 0;
  border: none;
}

.grid_app_item{
  display: grid;
  grid-template-columns: repeat(2, 60px);
  padding: 6px 0;
}
