.booking_label{
  max-width: 550px;
  margin-top: 1.25rem;
}

a.logo_link {
  text-decoration: none;
  color: #333;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 6rem;
  padding-left: 1rem;
  border-radius: 6px;
  font-size: 0.75rem;
}
