.type-width{
  width: 100px;
}

section{
  padding: 4rem 0;

  h1{
    font-size: 1rem;
    font-weight: bold;
    padding-bottom: 1rem;

  }
}

.show-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.show_item{
  color: #666666;
  font-weight: bold;
}

.show_item-header{
  font-weight: bold;
}

.black-link{
  color: #666666;
  text-decoration-color: #EED500;
  text-decoration-thickness: 4px;
}

.black-link:hover{
  color: black;
  text-decoration-thickness: 2px;
}


.attached, .unattached{
  font-weight: bold;
  font-size: 0.5rem;
  width: fit-content;
  padding: 0.25rem;
  border-radius: 1rem;
}

.attached{
  background: #E8F0EF;
  color: #1ABC9C;
}

.unattached{
  background: #faf3f6;
  color: red;
}

.active-nav{
  font-weight: 600;
  text-decoration: underline;
  background: none;
  text-decoration-thickness: 2px;
  text-underline-offset: 6px;
  text-decoration-color: #EDD400;
}

.public-heading{
  font-size: 1.2rem;
  font-weight: 900;
  margin-top: 1rem;
}

.payment_preview_heading{
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 1.5rem;
}
