.type-width{
  width: 100px;
}

section{
  padding: 4rem 0;

  h1{
    font-size: 1.25rem;
    font-weight: bold;
    padding-bottom: 1rem;

  }
}

.show-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.show_item{
  color: #666666;
  font-weight: bold;
}

.show_item-header{
  font-weight: bold;
}
