#progress-bar-container {
  margin-top: 20px;
}

#progress-bar {
  width: 100%;
  height: 25px;
  background-color: #f3f3f3;
  border: 1px solid #ccc;
  border-radius: 5px;
}

progress[value] {
  background-color: #4caf50;
  border-radius: 5px;
}

#progress-bar-container {
  margin-top: 20px;
}

progress {
  width: 100%;
  height: 25px;
  background-color: #f3f3f3;
  border: 1px solid #ccc;
  border-radius: 5px;
}

progress[value] {
  background-color: #4caf50;
  border-radius: 5px;
}
