<div class="nested-fields">
  <div class="field">
    <%= question_form.input :answer %>
  </div>
  <div class="field">
    <%= link_to 'Remove Question', '#', class: 'remove_fields' %>
  </div>
</div>
