<div class="container" data-controller="calendly" >
  <%= render "shared/sidebar" %>
  <section class="content">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h1>Scheduled Appointments</h1>
      <%= link_to '<i class="fa-solid fa-plus"></i> Add'.html_safe, new_appointment_path, class: "btn-photoshoot btn" %>
    </div>
    <div class="card">
        <%= render "shared/navigation" %>
        <%= render "appointment_table", appointments: @appointments %>
    </div>
  </section>

</div>
