<!-- app/views/appointments/type_of_shoots.html.erb -->
<div class="public-hero">
  <div class="public-hero__overlay">
    <h1 class="public-hero__title">363 Photography Booking Page</h1>
  </div>
  <img src="<%= asset_path('booking-banner.jpg') %>" alt="363 Photography" class="public-hero__image">
</div>

<div class="public-container">
  <h2 class="section-title">Choose Type of Shoot</h2>

  <div class="shoot-types-grid">
    <% @shoot_types.each do |shoot_type| %>
      <%= link_to select_price_appointments_path(shoot_type: shoot_type.shoot_type), class: "shoot-type-card" do %>
        <div class="shoot-type-card__icon">
          <i class="fa-solid <%= shoot_type.icon %>"></i>
        </div>
        <h3 class="shoot-type-card__title"><%= shoot_type.shoot_type %></h3>
      <% end %>
    <% end %>
  </div>
</div>
