<!-- app/views/admin/coupons/edit.html.erb -->
<div class="g-content__toolbar">
  <div class="g-content__page-title">
    <h1>Edit Coupon: <%= @coupon.code %></h1>
  </div>
  <div class="g-content__actions">
    <%= link_to "View Coupon", admin_coupon_path(@coupon), class: "g-button g-button--secondary" %>
    <%= link_to "Back to Coupons", admin_coupons_path, class: "g-button g-button--outline" %>
  </div>
</div>

<div class="g-form-container">
  <%= render 'form', coupon: @coupon %>
</div>