<div class="container">
  <%= render "shared/sidebar" %>
  <section class="content">
    <h1 class="ps-3">Add New Sale</h1>
      <%= render "form", appointment: @appointment, sale: @sale %>
  </section>
</div>
